<div class="card">
    <div class="card-status bg-dark"></div>
    <div class="card-header">
        <h3 class="card-title">Discord Channels‍</h3>
    </div>
    <div class="card-body d-flex flex-column">
        <p>
            <div>In the <%= HackumassWeb::Application::HACKATHON_NAME %> Discord you will be able to communicate with
                hundreds of fellow hackers! Check it out to form teams, create awesome hacks, and have fun!</div>
        </p>
        <br>
        <a href="https://discord.com/channels/<%= HackumassWeb::Application::DISCORD_SERVER_ID %>/<%= HackumassWeb::Application::DISCORD_TEAMFORM_CHANNEL_ID %>"
            target="_blank" class="btn btn-dark">Open #team-building channel</a>
        <br>
        <a href="https://discord.com/channels/<%= HackumassWeb::Application::DISCORD_SERVER_ID %>/<%= HackumassWeb::Application::DISCORD_ASK_MENTOR_CHANNEL_ID %>"
            target="_blank" class="btn btn-dark">Open #ask-mentor channel</a>
        <br>
        <a href="https://discord.com/channels/<%= HackumassWeb::Application::DISCORD_SERVER_ID %>/<%= HackumassWeb::Application::DISCORD_GENERAL_CHANNEL_ID %>"
            target="_blank" class="btn btn-dark">Open #general channel</a>

    </div>
</div>